// Tailwind
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Fonts
@import "https://fonts.googleapis.com/css?family=Jost:300,400,700,800";

// Variables
@import "variables";

/* Custom Styles */
::-webkit-scrollbar {
    width: 7px;
    position: relative;
}
::-webkit-scrollbar-thumb {
    background-color: $gray-darker;
    border-radius: 3px;
}

html,
body {
    font-family: $font-family-sans-serif;
}

.active {
    color: #333333;
}

/* Navbar Switcher*/
.group:hover .group-hover\:scale-100 {
    transform: scale(1);
}
.group:hover .group-hover\:-rotate-180 {
    transform: rotate(180deg);
}
.scale-0 {
    transform: scale(0);
}

/* Spinner */
.loading {
    width: 125px;
    height: 125px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #333333;
    position: relative;
    animation: a1 2s linear infinite;
}
.loading::before,
.loading::after {
    content: "";
    width: 125px;
    height: 125px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}
.loading::before {
    border-top: 10px solid #4c51bf;
    transform: rotate(120deg);
}
.loading::after {
    border-top: 10px solid #b0bec5;
    transform: rotate(240deg);
}
.loading span {
    position: absolute;
    width: 125px;
    height: 125px;
    color: black;
    text-align: center;
    line-height: 125px;
    font-size: 16px;
    font-weight: 500;
    animation: a2 2s linear infinite;
}
@keyframes a1 {
    to {
        transform: rotate(360deg);
    }
}
@keyframes a2 {
    to {
        transform: rotate(-360deg);
    }
}

/* 404 Page */
.changeColor {
    fill: #4f86ed;
}

.cls-1 {
    opacity: 0.3;
}

.cls-7 {
    opacity: 0.8;
}

.cls-2 {
    fill: #fff;
}

.cls-10,
.cls-11,
.cls-12,
.cls-14,
.cls-16,
.cls-3 {
    fill: none;
}

.cls-3 {
    stroke: #5a67d8;
}

.cls-10,
.cls-11,
.cls-12,
.cls-3 {
    stroke-miterlimit: 10;
}

.cls-14,
.cls-15,
.cls-16,
.cls-3 {
    stroke-width: 0.5px;
}

.cls-4 {
    fill: #ffe1d9;
}

.cls-5 {
    fill: #ffcfbf;
}

.cls-6 {
    fill: #fecbb6;
}

.cls-9 {
    fill: #5a67d8;
}

.cls-10,
.cls-12 {
    stroke: #d26f51;
}

.cls-10,
.cls-11 {
    stroke-width: 0.38px;
}

.cls-11 {
    stroke: #000;
}

.cls-12 {
    stroke-width: 0.19px;
}

.cls-13 {
    opacity: 0.45;
}

.cls-14,
.cls-15,
.cls-16 {
    stroke: #b0bec5;
    stroke-linejoin: round;
}

.cls-15 {
    fill: #edf0f2;
}

.cls-16 {
    stroke-linecap: round;
}

.cls-17 {
    font-family: inherit;
    font-size: 49.87px;
    font-weight: 700;
}

.cls-18 {
    fill: #fffdbb;
    opacity: 0.5;
}

/*---------------------------
          SVG Animate
  ---------------------------*/
.earMove {
    transition: all ease-in-out 2s;
    transform-origin: 50% 50%;
    animation: earmove 1.5s linear infinite alternate;
}

.faceMove {
    transition: all ease-in-out 2s;
    transform-origin: 50% 50%;
    animation: move 1.5s linear infinite alternate;
}

.neckMove {
    transition: all ease-in-out 2s;
    transform-origin: 50% 50%;
    animation: neck 1.5s linear infinite alternate;
}

@keyframes earmove {
    0% {
        transform: translateX(-0.3px) translateY(0.6px);
    }
    30% {
        transform: translateX(-0.3px) translateY(0.6px);
    }

    60% {
        transform: translateX(-0.7px) translateY(0px);
    }

    70% {
        transform: translateX(-0.7px) translateY(-0.3px);
    }
    100% {
        transform: translateX(-0.7px) translateY(-0.3px);
    }
}

@keyframes move {
    0% {
        transform: translateX(-0.3px) translateY(0.6px);
    }
    30% {
        transform: translateX(-0.3px) translateY(0.6px);
    }

    60% {
        transform: translateX(2px) translateY(0px);
    }

    70% {
        transform: translateX(2px) translateY(-0.3px);
    }
    100% {
        transform: translateX(2px) translateY(-0.3px);
    }
}

@keyframes neck {
    0% {
        transform: translateY(0.7px);
    }
    50% {
        transform: translateY(0.7px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*---------------------------
          Toastify
---------------------------*/
.Toastify__toast--default {
    background: #4c51bf !important;
    color: #fff !important;
    border-radius: 5px !important;
    div.Toastify__toast-body {
        font-family: "Jost", sans-serif !important;
    }
}
.Toastify__close-button--default {
    color: #fff !important;
    opacity: 0.7 !important;
}
.Toastify__progress-bar--default {
    background: #fff !important;
}
